body {
    background-color: #80d7ff;
    font-family: sans-serif;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
    margin-bottom: 50px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #00AEFD;
    text-align: center;
    padding: 20px 30px 20px 30px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color: #00AEFD;
    color: white;
}

p {
    line-height: 25px;
}

#logo {
    width: 50px;
    height: 50px;
}

#unicef a {
    padding: 7px 20px 0px 15px;
}

#unicef a:hover {
    background-color: #FFF;
}

#website {
    float: right;
    display: block;
    color: #00AEFD;
    text-align: center;
    padding: 20px 30px 20px 30px;
    text-decoration: none;
    font-size: 20px;
    border-left: 1px solid #00AEFD;
}

#quote {
    color: #FFF;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    margin-bottom: 50px;
}

.well {
    text-align: justify;
    width: 40%;
    color: #33beff;
    background-color: #FFF;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    margin-bottom: 25px;
    display: inline-block;
    margin-top: 0px;
}

#image {
    background-image: url("/https://papersmart.unmeetings.org/media2/3346297/unicef_pubs_as2014.jpg");
    padding-bottom: 45px;
    padding-top: 50px;
    background-size: cover;
    background-position: bottom;
    position: inherit;
}

.button {
    margin: 0 auto;
    background-color: #FFF;
    border: 5px solid #ff4d4d;
    border-radius: 20px;
    width: 25%;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
}

.button:hover {
    background-color: #ff4d4d;
    color: #FFF !important;
    width: 25%;
}

#btn a {
    text-decoration: none;
    color: #ff4d4d;
}

#jude {
    background-color: darkred;
    color: darkred;
}

#jude li a {
    color: darkred;
}

#jude #website {
    color: darkred;
}

.well #jwell {
    color: darkred;
    border-color: darkred;
}

#picture img {
    width: 80%;
    height: 200%;
    display: inline-block;
        border-radius: 30px;
}

#picture {
    float: left;
    width: 50%;
    height: 50%;

    margin-left:3%;
}

#container {
    display: inline;
    width: 100%
}