body {
    background-color: darkred;
    font-family: helvetica;
}

#header {
    background-color: ;
    width: inherit;
    position: static;
}

#sec {
    width: 40%;
    size: 40%;
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

#back {
    background-color: white;
    height: 1000px;
    width: 80%;
    margin: 0 auto;
    opacity: 0.6;
    margin-top: 0;
}

#judelogo {
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}

#title {
    margin: 0 auto;
    color: darkred;
    text-align: center;
    width: 300px;
}